# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entorns virtuals
venv/
env/
.venv/
.env/

# Variables d'entorn
.env

# Distribució / empaquetament
dist/
build/
*.egg-info/

# Sistema operatiu
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
